
.itemDetail_category{
    height: 130;

    h3 {
        text-align: center;
    }
    .category_upper{
        width: 123;
        margin-left: 300;
        border:1px solid black;
    }

    .category_{
        display: none;
        .navig{
            position: absolute;
        }
    }
}
.category_upper:hover{
    .category_{
        display: block;
    }
}

.itemDetail_item_info{
    

    margin: auto;
    width: 800;
    height: 800;
    // border: 1px solid black;
    text-align: center; 
    .itemDetail_img{
        text-align: center;
    }

    .itemDetail_discount_info{
        margin: auto;
        border: 1px solid black;
        width: 220;
    }
}

.itemDetail_comparison{
    margin-top: 20;
    border: 1px solid black;
    height: 40;
    ul{
        list-style: none;
        // margin: auto;
    }
    li{
        float: left;
        margin: 10;

        // text-align: center;
    }
}
